  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe sandbox="allow-scripts" src="https://www.googletagmanager.com/ns.html?id=GTM-PLGMHRG" height="0" width="0" class="hide"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="wrap">
    <div class="main">
      <div class="header__mobile-wrap">
        <img class="header__mobile-x" id="mobile-close" src="./images/x-light.svg" alt="Close">
        <a href="{{site.baseurl}}/people.html" class="header__item-mobile">People</a>
        <a href="{{site.baseurl}}/blogityblah.html" class="header__item-mobile">Blog</a>
        <a href="{{site.baseurl}}/history.html" class="header__item-mobile">History</a>
        <a href="{{site.baseurl}}/governance.html" class="header__item-mobile">Governance</a>
        <a href="{{site.baseurl}}/learn.html" class="header__item-mobile header__connect">Learn</a>
        <div class="node-clear"></div>
        <a href="{{site.baseurl}}/connect.html" class="header__item-mobile header__connect">Connect</a>
        <div class="node-clear"></div>
        <a href="{{site.baseurl}}/donate.html" class="header__item-mobile header__connect">Donate</a>
        <div class="node-clear"></div>
      </div>
      <header class="header">
        <a href="{{site.baseurl}}/">
          <div class="logo__wrap">
            <div class="logo">
              <div class="logo__inner">
                <div class="logo__center">
                  <div class="logo__minute logo__rotate">
                    <div class="logo__minute-ball"></div>
                  </div>
                  <div class="logo__hour logo__rotate">
                    <div class="logo__hour-orb">
                      <div class="logo__hour-ball"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h1 class="logo__title">PublicNTP</h1>
          </div>
        </a>

        <div class="flex__wrapper">
          <div class="flex__end">
            <a href="{{site.baseurl}}/donate.html" class="header__item header__connect" tabindex="0">Donate</a>
            <a href="{{site.baseurl}}/connect.html" class="header__item header__connect" tabindex="0">Connect</a>
            <a href="{{site.baseurl}}/learn.html" class="header__item header__connect" tabindex="0">Learn</a>
          </div>
          <div class="header__wrapper">
            <a href="{{site.baseurl}}/blog.html" class="header__link">Blog</a>
            <a href="{{site.baseurl}}/people.html" class="header__link">People</a>
            <a href="{{site.baseurl}}/history.html" class="header__link">History</a>
            <a href="{{site.baseurl}}/governance.html" class="header__link">Governance</a>
          </div>
        </div>

        <img class="header__mobile-icon" id="mobile-icon" src="./images/list-menu.svg" alt="Menu">

      </header>
