<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} | Public Time</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content={{ page.description }}>
  <meta name="keywords" content="Network, Time, Server, NTP, Network Time Server, public, publicntp, stratum, stratum 1, stratum 2, ntp.org, deployment, network time foundation, ntf,  reference, ntp reference implementation, unrestricted access, no-cost, highly-accurate, time sources, foundation, continent, global, wordwide, learn, connect, follow">
  <meta name="robots" content="index, follow">
  <meta name="referrer" content="always">
  <meta name="web_author" content="Dan Noland, Terry Ott, Scott Waddell, Brad Woodfin">
  <meta name="language" content="English">
  <meta property="og:title" content="Public Time">
  <meta property="og:site_name" content="Public Time">
  <meta property="og:locale" content="en_US"> 
  <meta property="og:description" content="The history and making of NTP.">
  <meta property="og:image" content="http://dev.publicntp.org/images/atomic_clock.jpg">  
  <meta property="og:image:secure_url" content="http://dev.publicntp.org/images/atomic_clock.jpg">    
  <meta property="og:image:alt" content="Original Atomic Clock"> 
  <meta property="og:url" content="http://dev.publicntp.org/history.html"> 
  <meta property="og:type" content="website">
  <meta name="msapplication-config" content="./images/browserconfig.xml">

  <!-- Google Tag Manager OLD -->
  <!-- <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PLGMHRG');</script> -->
  <!-- End Google Tag Manager -->


  <link rel="shortcut icon" type="image/png" href="./images/favicon.png">
  <link rel="icon" type="image/x-icon" href="./images/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="150x150" href="./images/mstile-150x150.png">
  <link rel="manifest" href="./images/site.webmanifest">
  <link rel="icon" type="image/png" sizes="192x192" href="./images/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="./images/android-chrome-512x512.png">
  <link rel="mask-icon" href="./images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="./css/base.css">
  <script defer src="./js/jquery-2.1.4.min.js"></script>
  <link rel="canonical" href="http://dev.publicntp.org/history.html">
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe sandbox="allow-scripts" src="https://www.googletagmanager.com/ns.html?id=GTM-PLGMHRG" height="0" width="0" class="hide"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include header.html %}

  {{ content }}

  {% include footer.html %}


 

  <div class="privacy">
    <div class="privacy__wrapper">
      <h3 class="privacy__title">Public Time Consent Manager</h3>
      <p class="privacy__text">Like many companies, Public Time uses cookies and other technologies, some of which are
        essential
        to make our website work. Others help us improve services and the user experience or to advertise. In using our
        site,
        you consent to the use of these cookies and other technologies. <a href="/terms.html" class="privacy__link">Learn
          more
        </a> about cookies and other technologies we use.</p>

      <div class="privacy__close"></div>
    </div>
  </div> 
  <script defer src="./js/main.js"></script>
</body>

</html>
